pkgbase = alg-cinnamon-settings
	pkgdesc = Settings for Arch Linux GUI Cinnamon Edition
	pkgver = 21.07
	pkgrel = 1
	url = https://github.com/arch-linux-gui
	arch = x86_64
	license = GPL3
	makedepends = git
	depends = gnome-terminal
	depends = nemo
	depends = firefox
	depends = tela-circle-icon
	depends = mcmojave-cursors
	depends = qogir-gtk-theme-git
	optdepends = paru: an AUR helper
	optdepends = neofetch: screenfetch utility
	optdepends = cups: printing support
	optdepends = system-config-printer: CUPS status applet
	optdepends = blueman: bluetooth manager
	provides = alg-cinnamon-settings
	options = !strip
	options = !emptydirs
	source = alg-cinnamon-settings::git+https://github.com/arch-linux-gui/alg-cinnamon-settings
	sha256sums = SKIP

pkgname = alg-cinnamon-settings
