pkgbase = alg-plasma-settings
	pkgdesc = Settings for Arch Linux GUI Plasma Edition
	pkgver = 2
	pkgrel = 1
	url = https://github.com/arch-linux-gui
	arch = x86_64
	license = GPL3
	makedepends = git
	depends = plasma-desktop
	depends = vlc
	depends = firefox
	depends = tela-circle-icon
	depends = konsole
	optdepends = paru: an AUR helper
	optdepends = neofetch: screenfetch utility
	optdepends = cups: printing support
	optdepends = system-config-printer: CUPS status applet
	optdepends = bluemdevil: bluetooth manager
	provides = alg-plasma-settings
	options = !strip
	options = !emptydirs
	source = alg-plasma-settings::git+https://github.com/arch-linux-gui/alg-plasma-settings
	sha256sums = SKIP

pkgname = alg-plasma-settings
