pkgbase = alg-livecd-desktop
	pkgdesc = LiveCD desktop items for Arch Linux GUI
	pkgver = 21.10
	pkgrel = 2
	url = https://github.com/arch-linux-gui
	arch = any
	license = GPL3
	makedepends = git
	provides = alg-livecd-desktop
	options = !strip
	options = !emptydirs
	source = alg-livecd-desktop::git+https://github.com/arch-linux-gui/alg-livecd-desktop
	sha256sums = SKIP

pkgname = alg-livecd-desktop
